html, body {
  background-color: #fff;
  font-family: Helvetica, Arial;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
#header {
  border-bottom: 1px solid #bbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e0e0e0));
  background-image: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  padding: 14px 14px 10px 14px;
  position: relative;
}
#logo {
  color: #444;
  font-family: Amaranth, 'Gloria Hallelujah';
  font-size: 3em;
  float: left;
  margin-top: -14px;
  margin-right: 1em;
  text-decoration: none;
  text-shadow: #aaa 0px 0px 6px;
}
#logo .js {
  color: #f5f5f5;
}
#tasks {
  width: 250px;
}
#tasks_chzn {
  float: left;
  margin-right: 1em;
}
.button {
  float: left;
  margin-right: 0.8em;
  padding: 0 8px 0 8px !important;
}
#fontsizes {
  width: 75px;
}
#fontsizes_chzn {
  float: right;
}
.clear {
  clear: both;
}
#description {
  border-bottom: 1px solid #ccc;
  position: absolute;
  padding-bottom: 10px;
  left: 20px;
  top: 70px;
  height: 30px;
  right: 30px;
}
#editor {
  bottom: 10px;
  font-family: Mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 14px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 60%;
}
#output {
  border-left: 1px solid #ccc;
  bottom: 25px;
  font-family: Mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 14px;
  left: 61%;
  overflow-y: auto;
  padding-left: 20px;
  position: absolute;
  right: 50px;
  top: 124px;
}
#output .info {
  color: #999;
}
#output .error {
  color: #FC2929;
}
.ace_gutter {
  background: transparent;
  color: #ccc;
}
